<head>
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Sans+KR:wght@300;400;500&family=Sunflower:wght@300;500&display=swap" crossorigin> -->
  <!-- not used this preconnect or preload beacause of google fonts error -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/syntax.css"> 
  <script defer src="/js/bundler.js"></script>

  <title>{{ .Title }}</title>
</head>