.summary {
  margin-top: 2rem;
  border-bottom: var(--content-topic-border);

  .info {
    & > h1 {
      margin-bottom: 0.25rem;
      font-size: 1.975rem;
      font-weight: 500;
      font-family: 'Sunflower', sans-serif;
    }
  
    & > p {
      margin: 0.25rem 0;
      font-size: 1.125rem;
    }
  }
}
